<div class="container-fluid p-2">
  <!-- Header Section -->
  <div *ngFor="let jobs of jobDetails">
    <div class="d-flex justify-content-between align-items-center rounded header-bar">
      <p class="mb-0">
        <i class="fas fa-calendar-alt"></i> 📅 {{jobs.dateEntered | date:'fullDate' }}
      </p>
      <div>
        <span class="circle blue"></span>
        <span class="circle yellow"></span>
        <span class="circle green"></span>
        <i class="fas fa-search search-icon"></i>
      </div>
    </div>

    <!-- Job Card -->
    <div class="card shadow-sm mt-3">
      <div class="card-header d-flex justify-content-between bg-light">
        <p><i class="fas fa-building"></i>🏢 {{getClientNamebyID(jobs.clientId)}}</p>
        <!-- <span  *ngIf="jobs.OrgId">{{getOrgId(jobs)}}</span> -->
        <button class="btn btn-primary btn-sm" (click)="expandJobs(jobs)">
          <i class="fas fa-chevron-down"></i> Expand Job
        </button>
      </div>
      <div class="d-flex justify-content-between">
        <div class="card-body">
          <p><i class="fas fa-map-marker-alt"></i>{{jobs.jobDetails[0].location}}</p>
          <p><i class="fas fa-clock"></i> {{jobs.jobDetails[0].dates[0].duration?.durationType}}. Be at Depot by:
            <strong>{{jobs.jobDetails[0].dates[0].startTime?.startTime1 | date:'hh:mm'}}</strong>, Siteup by:
            <strong>{{jobs.jobDetails[0].dates[0].startTime?.startTime2 | date:'hh:mm'}}</strong></p>
          <p><i class="fas fa-truck"></i>{{getVehicleNameById(jobs.jobDetails[0].dates[0].allocTrucks?._allocTrucks)}}
          </p>
          <!-- Staff Details -->
          <p class="fw-bold text-dark">(c) <span
              class="text-primary">{{getStaffNameById(jobs.jobDetails[0].dates[0].allocStaff?._allocatedStaff)}}</span>
          </p>
          <!-- <p class="mt-2" > -->
          <!-- <p class="fas fa-traffic-light"><pre>{{ getClosureOptions(jobs.jobDetails[0].dates[0].closures[0]._closures)}}</pre> -->

          <span *ngFor="let task of jobs.jobDetails[0].dates[0].closures">
            <span *ngIf="task.closureType == 1">
              <p>{{ getClosureOptions(task._closures) }}
              </p>
            </span>
            <span *ngIf="task.closureType != 1">
              <p>{{ getClosureOptions(task._closures) }}
              </p>
            </span>
          </span>

          <!-- </p> -->


          <!-- <p><i class="fas fa-flag"></i> Static Data......</p> -->
        </div>
        <!-- Extra Info Section -->
        <div class=" text-center ">
          <div class="row-margin row border py-2 fw-bold">Extra Info</div>
          <div class="row-margin row border py-2">NP ✔</div>
          <div class="row-margin row border py-2">(S) A</div>
          <div class="row-margin row border py-2">Job# 20410</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notes Section -->
  <div class="mt-3">
    <input type="text" class="form-control" placeholder="All Staff Notes">
  </div>
</div>