<div class="container">
  <div class="calendar-header">
    <div class="week-container calendar-grid">
      <!-- <input type="text" class="form-control" bsDatepicker placeholder="Select a date"> -->
      <!-- <button (click)="openCalendar()" class="d-flex align-items-center text-primary border-0 bg-transparent">
        <i class="bi bi-calendar-event"></i>
        <span class="ms-1 small">February</span>
      </button> -->

      <!-- <div class="input-group date" id="datepicker"> -->
      <!-- <input type="date" class="form-control"> -->
      <!-- <span class="input-group-text"><i class="bi bi-calendar"></i></span> -->
      <!-- </div> -->

      <button (click)="prevWeek()">❮</button>

      <div *ngFor="let day of weekDates" class="day-box" [class.selected]="day.selected" (click)="selectDate(day)">
        <div class="day-name">{{ day.dayName }}</div>
        <div class="day-date">{{ day.dayNumber }}</div>
      </div>
      <button (click)="nextWeek()">❯</button>
    </div>
  </div>

  <div class="search-filter-container">
    <div class="search-box">
      <label><strong>Search for <span>jobs...</span></strong></label>

      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search jobs..." />

      <br />

      <select class="form-select" [(ngModel)]="selectedJobType">
        <option value="">All Types</option>
        <option *ngFor="let type of jobType" [value]="type.fullName">
          {{ type.label }}
        </option>
      </select>
    </div>
    <div class="filter-box">
      <label><strong>Filter by <span>user...</span></strong></label>

      <select class="form-select" [(ngModel)]="selectedUser">
        <option value="">All Users</option>
        <option *ngFor="let user of userList" [value]="user.id">
          {{ user.firstName }} {{ user.lastName }}
        </option>
      </select>
      <br />
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="showMyJobs" [(ngModel)]="showOnlyUserTasks"
          (change)="toggleMyJobs()" />
        <label class="form-check-label" for="showMyJobs"> My Jobs Only </label>
      </div>
    </div>
  </div>
</div>

<!-- Job Details Section -->
<div *ngFor="let day of weekDates" class="container-fluid p-2">
  <!-- Header Section -->
  <div class="d-flex justify-content-between align-items-center rounded header-bar">
    <p class="mb-0">
      <i class="fas fa-calendar-alt"></i> {{ day.dates | date : "fullDate" }}
    </p>

    <div>
      <span *ngFor="let event of eventDetails">
        <span *ngFor="let ev of event.eventDates">
          {{ sendEventData(day, ev.eventDateDate) }}
          <span *ngIf="matchedEvent" class="circle" [ngStyle]="{ 'background-color': '#' + event.eventColour }"
            [title]="ev.eventName">
          </span>
        </span>
      </span>
    </div>
  </div>
  <span *ngFor="let notes of noteDetails">
    {{ sendNoteData(day, notes) }}
    <ng-container *ngIf="matchednote">
      <div class="d-flex justify-content-start flex-wrap">
        <p class="me-2 manager">
          <i class="fas fa-phone text-primary"></i>
          <strong>Manager #1:</strong>
          {{ getNameByID(notes.primaryDutyManager) }}
        </p>
        <p class="me-2 manager">
          <i class="fas fa-phone text-primary"></i>
          <strong>Manager #2:</strong>
          {{ getNameByID(notes.secondaryDutyManager) }}
        </p>
        <p class="me-2 manager">
          <i class="fas fa-phone text-primary"></i>
          <strong>Call-Out Staff:</strong>
          {{ getNameByID(notes.callOutDutyStaff) }}
        </p>
      </div>
    </ng-container>
  </span>
  <div *ngFor="let jobs of filteredData(); let i = index">
    <span>
      {{ sendData(jobs, day) }}
    </span>

    <!-- Job Card -->
    <div *ngIf="matchedDate" class="card shadow-sm mt-3">
      <div class="card-hea h-25 d-flex justify-content-between bg-light">
        <p class="padding-p">
          <i class="fas fa-building"></i>
          {{ getClientNamebyID(jobs.clientId) }}
        </p>
        <button class="expand-btn btn btn-primary btn-sm" (click)="expandJobs(jobs)">
          <i class="fas fa-chevron-down"></i> Expand Job
        </button>
      </div>
      <div class="d-flex justify-content-between">
        <div class="card-body">
          <p>
            <i class="fas fa-map-marker-alt"></i>{{ jobs.jobDetails[0].location }}
          </p>
          <p>
            <i class="fas fa-clock"></i>
            {{ jobs.jobDetails[0].dates[0].duration?.durationType }}.
            {{ labelStartTime1 }}:
            <strong>{{
              jobs.jobDetails[0].dates[0].startTime?.startTime1 | date : "hh:mm"
              }}</strong>, {{ labelStartTime2 }}
            <strong>{{
              jobs.jobDetails[0].dates[0].startTime?.startTime2 | date : "hh:mm"
              }}</strong>
          </p>
          <p>
            <i class="fas fa-truck"></i>{{
            getVehicleNameById(
            jobs.jobDetails[0].dates[0].allocTrucks?.allocTrucks
            )
            }}
          </p>
          <!-- Staff Details -->
          <p class="fw-bold text-dark">
            <i class="fas fa-users"></i>
            <span class="text-primary">{{
              getTaskStatus(
              jobs,
              jobs.jobDetails[0].dates[0].allocStaff?.allocatedStaff
              )
              }}{{
              getStaffNameById(
              jobs.jobDetails[0].dates[0].allocStaff?.allocatedStaff
              )
              }}</span>
          </p>
          <span *ngFor="let task of jobs.jobDetails[0].dates[0].closures">
            <span *ngIf="task.closureType == 1">
              <p>
                <i class="fas fa-road"></i>{{ getClosureOptions(task.closures) }}
              </p>
            </span>
            <span *ngIf="task.closureType != 1">
              <p>
                <i class="bi bi-person-walking"></i>{{ getClosureOptions(task.closures) }}
              </p>
            </span>
          </span>
        </div>
        <!-- Extra Info Section -->
        <div class="paddingright text-center">
          <div class="row-margin row-extra border py-2 fw-bold" data-bs-toggle="modal" data-bs-target="#noteModal"
            *ngIf="jobs.jobDetails[0].dates[0].jobDailyNote?.note">
            Extra Info
          </div>
          <div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="noteModalLabel">Note</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {{ jobs.jobDetails[0].dates[0].jobDailyNote?.note }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row-margin row-extra border py-2">
            NP
            <div class="NP-green" *ngIf="
                jobs.jobDetails[0].dates[0].removeParks?.removeParksTypes !=
                null
              ">
              Y
            </div>
            <div style="color: red" *ngIf="
                jobs.jobDetails[0].dates[0].removeParks?.removeParksTypes ==
                null
              ">
              NA
            </div>
          </div>
          <div class="row-margin row-extra border py-2">
            <span class="audit-check" *ngIf="jobs.jobDetails[0].siteSafetyBriefings != []">
              ✔
            </span>
            <span *ngIf="jobs.jobDetails[0].siteInspections != []">
              ({{ jobs.jobDetails[0].siteInspections.length }})
            </span>
            <span *ngIf="jobs.jobDetails[0].siteAudits != []"> A </span>
          </div>
          <div class="row-margin row-extra border py-2">
            Job {{ jobs.jobDetails[0].jobId }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>