/* // Header Bar Styling */
.header-bar {
  background: var(--rd-teal);
  color: #000;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.job-card {
  border: 1px solid #c6c2c2;
  border-radius: 2%;
}

/* // Color circles in header */
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

/* // Search Icon */
.search-icon {
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
}

/* // Card Custom Styling */
.card-header {
  font-weight: bold;
  padding-left: 0%;
  /* padding-bottom: 2%; */
  margin-bottom: 2%;

  background-color: #d5d5d5 !important;
}

/* // FontAwesome Icon Styling */
.fas {
  margin-right: 5px;
}

/* // Badges and Spacing */
.badge {
  font-size: 14px;
  padding: 5px 10px;
  color: black
}

/* // Borders and Styling */
.border {
  background: #f8f9fa;
  border: 1px solid #000;
  border-radius: 5px;
}

.row-margin {
  margin: 10px;
  padding: 10px;
}

.card-body {
  padding: 0
}

button {
  font-size: 50%;
}

hr {
  opacity: 1;
  margin: 0 5px;
  color: var(--rd-teal);
}

.row-margin {
  margin: 10px;
  padding: 10px;
}

.card-body {
  padding: 2%;
}

button {
  font-size: 50%;
}

.NP-green {
  background: black;
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.audit-check {
  background: rgb(35, 82, 124);
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.paddingright {
  padding-right: 5%;
}

.btn-group-job-actions {
  padding: 0.4em;
}

.btn-job-action {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-group-task-timer button.btn {
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  text-transform: uppercase;
}

.btn-group-task-timer a.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
}

@media (max-width: 576px) {

  /* Styles for small devices (phones) */
  .header-bar {
    margin-top: 5%;
  }

  p {
    font-size: .75em
  }

  button {
    font-size: .75em
  }

  .row-margin {
    font-size: .75em
  }

  .job-card {
    border: 1px solid #c6c2c2;
    border-radius: 2%;
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .manager {
    font-size: 0.6em;
  }

  .NP-green {
    background: black;
    color: white;
    border-radius: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
    padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
  }

  .row-extra {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .padding-p {
    margin-bottom: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
  }

  .expand-btn {
    height: 30%
  }

  .tick-icon {
    font-size: 20px;
    /* Adjust size as needed */
    color: green;
    /* Choose color */
  }

  .form-select {
    padding: 0 !important;
  }

  .form-control {
    padding: 0 !important;
  }

}

/* // Card Custom Styling */
.card-hea {
  align-items: center;
  font-weight: bold;
  padding: 0.2rem;
  margin: 0;
  background-color: #E5E5E5;
}

/* // Badges and Spacing */
.badge {
  font-size: 14px;
  padding: 5px 10px;
  color: black
}

/* // Borders and Styling */
.border {
  background: #f8f9fa;
  border: 1px solid #000;
  border-radius: 5px;
}

.row-margin {
  margin: 10px;
  padding: 10px;
}

.card-body {
  padding: 2%;
}

button {
  font-size: 50%;
}

.NP-green {
  background: black;
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.audit-check {
  background: rgb(35, 82, 124);
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.paddingright {
  padding-right: 5%;
}

.dropdown-menu {
  min-width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

.dropdown-item i {
  color: #0d6efd;
}

.borderUnder {
  border-bottom: 1px solid #dee2e6;
}

.task-bootstrap-card {
  border-radius: 10px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.leftmargin {
  margin-left: 2%;
}

.mb-5 {
  margin-bottom: 5% !important;
}

.mb-10 {
  margin-bottom: 10%;
}

p {
  font-size: .75em;
  padding-left: 1%;
}

button {
  font-size: .75em;

}

.row-margin {
  font-size: .75em
}

.manager {
  font-size: 0.6em;
}

.NP-green {
  background: black;
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.row-extra {
  width: 100%;
  /* height: 16%; */
  display: flex;
  padding-top: 2% !important;
  padding-bottom: 5% !important;
  justify-content: space-between;
}

.padding-p {
  padding-top: 1%;
  padding-left: 2%;
}

.expand-btn {
  height: 30%
}

.tick-icon {
  font-size: 20px;
  /* Adjust size as needed */
  color: green;
  /* Choose color */
}

.form-select {
  padding: 0 !important;
}

.form-control {
  padding: 0 !important;
}

@media (min-width: 768px) {
  /* Styles for medium devices (tablets) */
}

@media (min-width: 992px) { /* Styles for large devices (desktops) */ }

footer {
  height: 60px;
}

footer nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
}

footer .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid var(--rd-orange);
  transform: translate(-50%, -20%) !important;
}

.icon-add {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

@media (max-width: 576px) {
  fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }

  footer {
    /* width: 75%; */
    height: 60px;
  }
}

footer {
  height: 60px;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transition: color 0.3s ease-in-out;
}

.tab-link i {
  font-size: 1rem;
}

.active-tab {
  font-weight: bold;
}

.active-tab::before {
  content: ".";
  display: inline-block;
  position: absolute;
  bottom: -0.25em;
  font-size: xx-large;
}

.active-tab i {
  transform: scale(1.2);
  /* Slight zoom effect */
  transition: transform 0.3s ease-in-out;
}

.footer-spacer {
  flex-basis: 40px;
}
.menu-btn {
  background: white;
  border: none;
  border-radius: 40px;
  padding: 10px 16px;
  margin: 6px 0;
  width: 100%;
  text-align: left;
  font-weight: 500;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.menu-btn .material-icons {
  margin-right: 10px;
}

.submenu-btn {
  background-color: #b4ddcd;
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.menu-wrapper {
  /* background: linear-gradient(to bottom right, #77d9d6, #ff7733); */
  background: #7dccba;
  background: linear-gradient(
    113deg,
    rgba(125, 204, 186, 1) 0%,
    rgba(246, 138, 51, 1) 100%
  );
  min-height: 100%;
  color: #333;
  margin: 1rem;
}

.section-title {
  font-weight: bold;
  /* color: #ffffff; */
  margin-bottom: 10px;
  /* font-size: 14px; */
  /* text-transform: uppercase; */
}

.menu-btn {
  background-color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sub-menu {
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 10px;
}

.sub-btn {
  border: none;
  border-radius: 15px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.add-btn {
  background-color: #4caf50;
}

.view-btn {
  background-color: #5a837f;
}
.icon-padding {
  padding-right: 20px;
}
