<div class="container-fluid">
  <!-- Header Section -->
  <div
    class="d-flex justify-content-between align-items-center rounded header-bar"
  >
    <p class="mb-0">
      <i class="fas fa-calendar-alt"></i> 
      {{ jobs.jobDetails[0].dates[0].jobDetailsDate | date : "fullDate" }}
    </p>
    <div>
      <span *ngFor="let event of eventDetails">
        <span *ngFor="let ev of event.eventDates">
          {{ sendEventData(jobs.jobDetails[0].dates[0].jobDetailsDate, ev.eventDateDate) }}
          <span
            *ngIf="matchedEvent"
            class="circle"
            [ngStyle]="{ 'background-color': '#' + event.eventColour }"
            [title]="ev.eventName">
          </span>
        </span>
      </span>
    </div>
  </div>

  <!-- Job Card -->
  <div class="card shadow-sm mt-3">
    <!-- <div *ngFor="let jobs of jobDetails" class="card shadow-sm mt-3"> -->
    <div class="card-hea h-25  d-flex justify-content-between bg-light">
      <p  class="padding-p">
        <i class="fas fa-building"></i>{{ getClientNamebyID(jobs.clientId) }}
      </p>
      <button  class="expand-btn btn btn-primary btn-sm" (click)="collapseJobs()">
        <i class="fas fa-chevron-up"></i> Collapse Job
      </button>
    </div>
    <div class="d-flex gap">
      <button class="btn btn-primary">
        <i class="bi bi-tools"></i>
        Create OSR
      </button>

      <button class="btn btn-primary">
        <i class="bi bi-chat-dots"></i>
        Job Status
      </button>

      <button class="btn btn-primary">
        <i class="bi bi-telephone"></i>
        Call Client
      </button>
    </div>

    <div class="d-flex justify-content-between">
      <div class="card-body">
        <p>
          <i class="fas fa-map-marker-alt"></i>{{ jobs.jobDetails[0].location }}
        </p>
        <p>
          <i class="fas fa-clock"></i>
          {{ jobs.jobDetails[0].dates[0].duration.durationType }}.
          {{ labelStartTime1 }}:
          <strong>{{
            jobs.jobDetails[0].dates[0].startTime.startTime1 | date : "hh:mm"
          }}</strong
          >, {{ labelStartTime2 }}
          <strong>{{
            jobs.jobDetails[0].dates[0].startTime.startTime2 | date : "hh:mm"
          }}</strong>
        </p>
        <p>
          <i class="fas fa-truck-pickup"></i>{{
            getVehicleNameById(
              jobs.jobDetails[0].dates[0].allocTrucks?.allocTrucks
            )
          }}
        </p>
        <!-- Staff Details -->
        <p class="fw-bold text-dark">
          <i class="fas fa-users"></i>
          <span class="text-primary">{{
            getTaskStatus(
              jobs,
              jobs.jobDetails[0].dates[0].allocStaff?.allocatedStaff
            )
          }}{{
            getStaffNameById(
              jobs.jobDetails[0].dates[0].allocStaff?.allocatedStaff
            )
          }}</span>
        </p>
        <!-- <p class="mt-2"><i class="fas fa-traffic-light"></i>Static Data......</p>
      <p><i class="fas fa-flag"></i> Static Data......</p> -->
        <!-- <p class="fas fa-traffic-light"></p>
        <pre>{{
          getClosureOptions(jobs.jobDetails[0].dates[0].closures[0]._closures)
        }}</pre> -->

        <span *ngFor="let task of jobs.jobDetails[0].dates[0].closures">
          <span *ngIf="task.closureType == 1">
            <p>
              <i class="fas fa-road"></i
              >{{ getClosureOptions(task.closures) }}
            </p>
          </span>
          <span *ngIf="task.closureType != 1">
            <p>
              <i class="bi bi-person-walking"></i
              >{{ getClosureOptions(task.closures) }}
            </p>
          </span>
        </span>

      </div>
      <!-- Extra Info Section -->
      <div class="paddingright text-center">
        <div
          class="row-margin row-extra border py-2 fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#noteModal"
          *ngIf="jobs.jobDetails[0].dates[0].jobDailyNote.note"
        >
          Extra Info
        </div>
        <div
          class="modal fade"
          id="noteModal"
          tabindex="-1"
          aria-labelledby="noteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                {{ jobs.jobDetails[0].dates[0].jobDailyNote.note }}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row-margin row-extra border py-2">
          NP
          <div
            class="NP-green"
            *ngIf="
              jobs.jobDetails[0].dates[0].removeParks?.removeParksTypes !=
              null
            "
          >
            Y
          </div>
          <div
            style="color: red"
            *ngIf="
              jobs.jobDetails[0].dates[0].removeParks?.removeParksTypes ==
              null
            "
          >
            NA
          </div>
        </div>
        <div class="row-margin row-extra border py-2">
          <span
            class="audit-check"
            *ngIf="jobs.jobDetails[0].siteSafetyBriefings != []"
          >
            ✔
          </span>
          <span *ngIf="jobs.jobDetails[0].siteInspections != []">
            ({{ jobs.jobDetails[0].siteInspections.length }})
          </span>
          <span *ngIf="jobs.jobDetails[0].siteAudits != []"> A </span>
        </div>
        <div class="row-margin row-extra border py-2">
          Job {{ jobs.jobDetails[0].jobId }}
        </div>
      </div>
    </div>
    <div class="d-flex gap border-bottom">
      <button class="btn btn-outline-primary">📂 Documents</button>

      <button class="btn btn-outline-primary">📷 Photos</button>

      <button class="btn btn-outline-primary">📍 Location</button>
    </div>

    <div>
      <p class="border-bottom">
        <strong>🛠 Type of Work:</strong> {{ getTypeOfWork(jobs.jobDetails[0].descActivity) }}
      </p>

      <span
        *ngFor="let task of jobs.jobDetails[0].dates[0].closures"
        class="border-bottom"
      >
        <span *ngIf="task.closureType == 1">
          <p>
            <strong>🔹TTM Road Set-Up-</strong
            >{{ getClosure(task.closures) }}
          </p>
        </span>
        <span *ngIf="task.closureType != 1">
          <p>
            <strong>TTM FootPath Set-Up -</strong
            >{{ getClosure(task.closures) }}
          </p>
        </span>
      </span>

      <div class="mt-3">
        <button class="btn btn-primary w-100">📌 Record Task</button>
        <button class="btn btn-secondary w-100 mt-2">📝 Add Job Note</button>
        <button class="btn btn-warning w-100 mt-2">🔧 Edit Equipment</button>
      </div>
    </div>

    <!-- Notes Section -->
    <div class="mt-3">
      <input type="text" class="form-control" placeholder="All Staff Notes" />
    </div>
  </div>
</div>
