<div class="container-fluid">
  <!-- Header Section -->
  <div class="d-flex justify-content-between align-items-center rounded header-bar">
    <p class="mb-0">
      <i class="fas fa-calendar-alt"></i>
      {{ jobDate.jobDetailsDate | date : "fullDate" }}
    </p>
    <div>
      <span *ngFor="let event of eventDetails">
        <span *ngFor="let ev of event.eventDates">
          {{ sendEventData(jobDate.jobDetailsDate, ev.eventDateDate) }}
          <span *ngIf="matchedEvent" class="circle" [ngStyle]="{ 'background-color': '#' + event.eventColour }"
            [title]="ev.eventName">
          </span>
        </span>
      </span>
    </div>
  </div>

  <div class="card shadow-sm mt-3">
    <div class="card-hea h-25 d-flex justify-content-between bg-light">
      <p class="padding-p">
        <i class="fas fa-building"></i>{{ getClientNamebyID(jobs.clientId) }}
      </p>
      <button class="expand-btn btn btn-primary btn-sm" (click)="collapseJobs()">
        <i class="fas fa-chevron-up"></i> Collapse Job
      </button>
    </div>
    <div class="d-flex gap">
      <button class="btn btn-primary">
        <i class="fa fa-tools"></i>
        Create OSR
      </button>

      <button class="btn btn-primary">
        <i class="fa fa-chat-dots"></i>
        Job Status
      </button>

      <button class="btn btn-primary">
        <i class="fa fa-telephone"></i>
        Call Client
      </button>
    </div>

    <div class="d-flex justify-content-between">
      <div class="card-body">
        <p><i class="fas fa-map-marker-alt"></i>{{ jobDetails.location }}</p>
        <p>
          <i class="fas fa-clock"></i>
          {{ jobDate?.duration?.durationType }}. {{ labelStartTime1 }}:
          <strong>{{ jobDate?.startTime?.startTime1 | date : "hh:mm" }}</strong
          >, {{ labelStartTime2 }}
          <strong>{{ jobDate?.startTime?.startTime2 | date : "hh:mm" }}</strong>
        </p>
        <p>
          <i class="fas fa-truck-pickup"></i
          >{{ getVehicleNameById(jobDate?.allocTrucks?.allocTrucks) }}
        </p>
        <p class="fw-bold text-dark">
          <i class="fas fa-users"></i>
          <span class="text-primary"
            >{{ getTaskStatus(jobs, jobDate?.allocStaff?.allocatedStaff)
            }}{{ getStaffNameById(jobDate?.allocStaff?.allocatedStaff) }}</span
          >
        </p>
        <span *ngFor="let task of jobDate?.closures">
          <span *ngIf="task.closureType == 1">
            <p>
              <i class="fas fa-road"></i>{{ getClosureOptions(task.closures) }}
            </p>
          </span>
          <span *ngIf="task.closureType != 1">
            <p>
              <i class="fa fa-person-walking"></i>{{ getClosureOptions(task.closures) }}
            </p>
          </span>
        </span>
      </div>
      <div class="paddingright text-center">
        <div class="row-margin row-extra border py-2 fw-bold" data-bs-toggle="modal" data-bs-target="#noteModal"
          *ngIf="jobDate?.jobDailyNote.note">
          Extra Info
        </div>
        <div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{ jobDate?.jobDailyNote.note }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row-margin row-extra border py-2">
          NP
          <div
            class="NP-green"
            *ngIf="jobDate?.removeParks?.removeParksTypes != null"
          >
            Y
          </div>
          <div
            style="color: red"
            *ngIf="jobDate?.removeParks?.removeParksTypes == null"
          >
            NA
          </div>
        </div>
        <div
          *ngIf="
            jobDetails.siteAudits != null ||
            jobDetails.siteSafetyBriefings != '' ||
            jobDetails.siteInspections != ''
          "
          class="row-margin row-extra border py-2"
        >
          <span
            class="audit-check"
            *ngIf="jobDetails.siteSafetyBriefings != []"
          >
            ✔
          </span>
          <span *ngIf="jobDetails.siteInspections != []">
            ({{ jobDetails.siteInspections.length }})
          </span>
          <span *ngIf="jobDetails.siteAudits != []"> A </span>
        </div>
        <div class="row-margin row-extra border py-2">
          Job {{ jobDetails.jobId }}
        </div>
      </div>
    </div>
    <div class="d-flex gap border-bottom">
      <!-- <button class="btn btn-outline-primary" (click)="downloadPdf(jobs,jobDetails,jobDate)">📂 Documents</button> -->
      <div class="dropdown" [ngClass]="{ show: dropdownOpen }">
        <button class="btn btn-outline-primary" (click)="toggleDropdown()">
          📎 Documents
        </button>
        <div class="dropdown-menu show" *ngIf="dropdownOpen">
          <div class="borderUnder" *ngIf="jobDetails?.tmpLookups?.length">
            <h6 class="dropdown-header">TMPs</h6>
            <a
              *ngFor="let file of jobDetails.tmpLookups"
              class="dropdown-item d-flex align-items-center"
              [href]="downloadTmp + file.tmp.tmpId"
              download
            >
              <i class="bi bi-cloud-download-fill me-2"></i
              >{{ file.tmp.filename }}
            </a>
          </div>
          <div class="borderUnder" *ngIf="jobs?.documentLookups?.length">
            <h6 class="dropdown-header">Documents</h6>
            <a
              *ngFor="let file of jobs.documentLookups"
              class="dropdown-item d-flex align-items-center"
              [href]="downloadDoc + file.document.documentId"
              download
            >
              <i class="bi bi-cloud-download-fill me-2"></i
              >{{ file.document.filename }}
            </a>
          </div>
          <div>
            <a
              (click)="downloadPdf(jobs, jobDetails, jobDate)"
              class="dropdown-item d-flex align-items-center"
            >
              <i class="bi bi-cloud-download-fill me-2"></i>Download Job Details
            </a>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary" (click)="loadImages()">
        📷 Photos
      </button>
      <!-- Display images only after button click -->
      <div *ngIf="images.length > 0">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let image of images">
          <div class="card" *ngIf="image.photo != null">
            <img [src]="image.photo" class="card-img-top" [alt]="image.photo" />
            <!-- <div class="card-body p-2">
              <h6 class="card-title text-center mb-0">{{ image.name }}</h6>
            </div> -->
          </div>
        </div>
      </div>
      <button
        class="btn btn-outline-primary"
        (click)="openMap(jobDetails.location)"
      >
        📍 Location
      </button>
    </div>
    <!-- 18.8632124 52.1899235 -->
    <div>
      <p class="border-bottom">
        <strong>🛠 Type of Work:</strong>
        {{ getTypeOfWork(jobDetails.descActivity) }}
      </p>

      <span *ngFor="let task of jobDate?.closures" class="border-bottom">
        <span *ngIf="task.closureType == 1">
          <p>
            <strong>🔹TTM Road Set-Up-</strong>{{ getClosure(task.closures) }}
          </p>
        </span>
        <span *ngIf="task.closureType != 1">
          <p>
            <strong>TTM FootPath Set-Up -</strong>{{ getClosure(task.closures) }}
          </p>
        </span>
      </span>
    </div>

    <div class="mt-3">
      <input type="text" class="form-control" placeholder="All Staff Notes" />
    </div>
  </div>
  <div class="mt-3">
    <!-- <button
      class="btn btn-primary w-100"
      (click)="recordTask(jobs, jobDetails, jobDate)"
    >
      📌 Record Task
    </button> -->
    <div class="card mb-5">
      <div class="card-header">
        <h5 class="mb-0 leftmargin">Record task</h5>
      </div>

      <div class="card-body">
        <!-- <div class="mt-3"> -->
        <div *ngIf="task">
          <a
            class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center mb-3"
          >
            <span class="text-truncate">
              {{ task.vehicleRate?.title }}
            </span>
            <i
              class="fas fa-edit text-primary ms-2"
              (click)="editRecordTask(jobs, jobDetails, jobDate, task?.id)"
            ></i>
          </a>

          <a
            *ngIf="updatedTime"
            class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center mb-3"
          >
            <span class="text-truncate">
              STARTED AT {{ updatedTime | date : "shortTime" }}
            </span>
            <i
              class="fas fa-edit text-primary ms-2"
              (click)="
                editTime(jobs, jobDetails, jobDate, updatedTime, task?.id)
              "
            ></i>
          </a>
          <a
            *ngIf="finishTime"
            class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center mb-3"
          >
            <span class="text-truncate">
              FINISHED AT {{ finishTime | date : "shortTime" }}
            </span>
            <i
              class="fas fa-edit text-primary ms-2"
              (click)="
                navigateToFinishTime(
                  jobs,
                  jobDetails,
                  jobDate,
                  updatedTime,
                  finishTime,
                  task?.id
                )
              "
            ></i>
          </a>
          <a
            *ngIf="submitTime"
            class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center mb-3"
          >
            <span class="text-truncate">
              SUBMITTED (0.15 hrs) AT {{ submitTime | date : "shortTime" }}
            </span>
            <i
              class="fas fa-edit text-primary ms-2"
              (click)="
                editTime(jobs, jobDetails, jobDate, submitTime, task?.id)
              "
            ></i>
          </a>
          <button
            *ngIf="!updatedTime"
            class="btn btn-primary w-100"
            (click)="updateTaskTime(jobs, jobDetails, jobDate, task?.id)"
          >
            <i class="fas fa-clock"></i> Start Recording Time
          </button>
          <button
            *ngIf="updatedTime && !finishTime"
            class="btn btn-primary w-100"
            (click)="FinishTaskTime(jobs, jobDetails, jobDate, task?.id)"
          >
            <i class="fas fa-clock"></i> Finish Recording Time
          </button>
          <button
            *ngIf="finishTime && finishTime && !submitTime"
            class="btn btn-success w-100"
            (click)="submitTaskTime(jobs, jobDetails, jobDate, task?.id)"
          >
            <i class="fas fa-clock"></i> ✔ SUBMIT THIS TASK
          </button>
          <button
            *ngIf="finishTime && finishTime && submitTime"
            class="btn btn-primary w-100"
            (click)="AddRecordTask(jobs, jobDetails, jobDate)"
          >
            📌 Record Task
          </button>
        </div>
        <button
          *ngIf="!task"
          class="btn btn-primary w-100"
          (click)="addRecordTask(jobs, jobDetails, jobDate)"
        >
          📌 Record Task
        </button>
        <!-- </div> -->
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-header">
        <h5 class="mb-0 leftmargin">Notes & History</h5>
      </div>

      <div class="card-body">
        <button
          class="btn btn-primary w-100"
          data-bs-toggle="modal"
          data-bs-target="#noteModal1"
        >
          <i class="bi bi-plus-lg"></i> Add Job Note
        </button>

        <div class="modal fade" id="noteModal1" tabindex="-1">
          <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add a general note</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <div class="modal-body">
                  <div class="mb-3">
                    <label class="form-label"
                      >Note <span class="text-danger">*</span></label
                    >
                    <input name="note" ngModel required class="form-control" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Select attachment</label>
                    <input
                      type="file"
                      (change)="fileChanged($event)"
                      class="form-control"
                    />
                    <small class="text-muted">{{
                      fileName || "No file chosen"
                    }}</small>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button
                    data-bs-dismiss="modal"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="f.invalid"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-10">
      <div class="card-header">
        <h5 class="mb-0 leftmargin">🔧 Equipment On Site</h5>
      </div>

      <div class="card-body">
        <button
          class="btn btn-primary w-100"
          (click)="editEquipment(jobs, jobDetails, jobDate, task?.id)"
        >
          🔧 Edit Equipment
        </button>
      </div>
    </div>
    <!-- <button class="btn btn-warning w-100 mt-2">🔧 Edit Equipment</button> -->
  </div>
</div>