/* // Header Bar Styling */
.header-bar {
  background: #a7dfc3;
  color: #000;
  font-weight: bold;
}

.job-card {
  border: 1px solid #c6c2c2;
  border-radius: 2%;

}

/* // Color circles in header */
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

/* // Search Icon */
.search-icon {
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
}

/* // Card Custom Styling */
.card-header {
  font-weight: bold;
  padding-left: 0%;
  /* padding-bottom: 2%; */
  margin-bottom: 2%;

  background-color: #d5d5d5 !important;
}

/* // FontAwesome Icon Styling */
.fas {
  margin-right: 5px;
}

/* // Badges and Spacing */
.badge {
  font-size: 14px;
  padding: 5px 10px;
  color: black
}

/* // Borders and Styling */
.border {
  background: #f8f9fa;
  border: 1px solid #000;
  border-radius: 5px;
}

.row-margin {
  margin: 10px;
  padding: 10px;
}

.card-body {
  padding: 0
}

button {
  font-size: 50%;
}

.border-bottom {
  padding-bottom: 2%;
  border-bottom: 1px solid #09abfc !important;
}

.row-margin {
  margin: 10px;
  padding: 10px;
}

.card-body {
  padding: 2%;
}

button {
  font-size: 50%;
}

.NP-green {
  background: black;
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.audit-check {
  background: rgb(35, 82, 124);
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.paddingright {
  padding-right: 5%;
}

.card-hea {
  font-weight: bold;
  padding-top: 1.5%;
  padding-right: 2%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  background-color: #d5d5d5 !important;
}

@media (max-width: 576px) {

  /* Styles for small devices (phones) */
  .header-bar {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  p {
    font-size: .75em
  }

  button {
    font-size: .75em
  }

  .row-margin {
    font-size: .75em
  }

  .gap {
    gap: 5%
  }

  .job-card {
    border: 1px solid #c6c2c2;
    border-radius: 2%;
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
  }

  p {
    font-size: .75em;
    padding-left: 1%;
  }

  button {
    font-size: .75em;

  }

  .row-margin {
    font-size: .75em
  }

  .manager {
    font-size: 0.6em;
  }

  .NP-green {
    background: black;
    color: white;
    border-radius: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
    padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
  }

  .row-extra {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .padding-p {
    padding-top: 1%;
    padding-left: 2%;
  }

  .expand-btn {
    height: 30%
  }

  .tick-icon {
    font-size: 20px;
    /* Adjust size as needed */
    color: green;
    /* Choose color */
  }

  .form-select {
    padding: 0 !important;
  }

  .form-control {
    padding: 0 !important;
  }

}

/* // Card Custom Styling */
.card-hea {
  font-weight: bold;
  padding-top: 1.5%;
  padding-right: 2%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  background-color: #d5d5d5 !important;
}

/* // FontAwesome Icon Styling */
.fas {
  margin-right: 5px;
}

/* // Badges and Spacing */
.badge {
  font-size: 14px;
  padding: 5px 10px;
  color: black
}

/* // Borders and Styling */
.border {
  background: #f8f9fa;
  border: 1px solid #000;
  border-radius: 5px;
}

.row-margin {
  margin: 10px;
  padding: 10px;
}

.card-body {
  padding: 2%;
}

button {
  font-size: 50%;
}

.NP-green {
  background: black;
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.audit-check {
  background: rgb(35, 82, 124);
  color: white;
  border-radius: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
  padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
}

.paddingright {
  padding-right: 5%;
}
.dropdown-menu {
  min-width: 300px;
  max-height: 400px;
  overflow-y: auto;
}
.dropdown-item i {
  color: #0d6efd;
}
.borderUnder{
  border-bottom: 1px solid #dee2e6;
}
.task-bootstrap-card {
  border-radius: 10px;

  .btn {
    text-align: left;
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
  }
}
.leftmargin{    
  margin-left: 2%;}
  .mb-5{
    margin-bottom: 5% !important;
  }
  .mb-10{
    margin-bottom: 10%;
  }
  p {
    font-size: .75em;
    padding-left: 1%;
  }

  button {
    font-size: .75em;

  }

  .row-margin {
    font-size: .75em
  }

  .manager {
    font-size: 0.6em;
  }

  .NP-green {
    background: black;
    color: white;
    border-radius: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.1) !important;
    padding-left: calc(var(--bs-gutter-x)* 0.1) !important;
  }

  .row-extra {
    width: 100%;
    /* height: 16%; */
    display: flex;
    padding-top: 2% !important;
    padding-bottom: 5% !important;
    justify-content: space-between;
  }

  .padding-p {
    padding-top: 1%;
    padding-left: 2%;
  }

  .expand-btn {
    height: 30%
  }

  .tick-icon {
    font-size: 20px;
    /* Adjust size as needed */
    color: green;
    /* Choose color */
  }

  .form-select {
    padding: 0 !important;
  }

  .form-control {
    padding: 0 !important;
  }
}

@media (min-width: 768px) {

  /* Styles for medium devices (tablets) */
  .gap {
    gap: 20%
  }
}

@media (min-width: 992px) {
  /* Styles for large devices (desktops) */
}