<div [formGroup]="taskForm" class="container mt-3 p-3 shadow rounded bg-white" style="max-width: 400px;">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="fw-bold mb-0">{{title}}</h4>
    </div>
  
    <div class="mb-2">
      <small class="text-muted fw-bold">CLIENT</small>
      <div class="bg-light p-2 rounded">{{ taskForm.get('client')?.value }}</div>
    </div>
  
    <div class="mb-3">
      <small class="text-muted fw-bold">ADDRESS</small>
      <div class="bg-light p-2 rounded" >{{ taskForm.get('address')?.value }}</div>
    </div>
  
    <div class="mb-3">
      <label>Resource</label>
      <select  class="form-select" formControlName="resources" >
        <!-- <option value="" disabled selected>Resource</option> -->
        <option *ngFor="let resource of vehicleRates" [value]="resource.id">{{ resource.title }}</option>
      </select>
    </div>
  
    <div class="mb-3">
      <textarea formControlName="notes" class="form-control" rows="3" placeholder="Notes (Always state your vehicle name and details of any other staff who are with you)"
                [(ngModel)]="notes"></textarea>
    </div>
  
    <button class="btn btn-secondary w-100" *ngIf="title=='Create Record Task'" (click)="onSubmit()" [disabled]="taskForm.invalid">CREATE</button>
    <button class="btn btn-secondary w-100" *ngIf="title!='Create Record Task'" (click)="edit()" [disabled]="taskForm.invalid">UPDATE</button>
  </div>