<!-- <mat-toolbar background-color="blue">
  <span>Road Direct eBoard</span>
  <span class="spacer"></span>
  <button mat-icon-button >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar> -->

<!-- <br>
<div *ngIf="!isOnline" class="offline-banner">
  ⚠️ You are offline. Some features may not work.
<app-dashboard></app-dashboard>

</div>
<app-dashboard></app-dashboard> -->
<app-header></app-header>
<main class="pt-5 pb-5">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<!-- <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    </ul>
</nav>
<router-outlet></router-outlet> -->