<div class="container mt-3">
  <!-- Your Tasks Section -->
  <div class="task-section">
    <div class="section-header myTask text-white p-2 rounded-top">
      <i class="fa fa-list-check"></i> Your Tasks
    </div>

    <div class="task-card" *ngFor="let task of yourTasks">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-building"></i> {{ task.company }}
            <span class="float-end text-muted">Job# {{ task.jobId }}</span>
          </h5>

          <p class="card-text">
            <i class="fa fa-geo-alt"></i> {{ task.address }}<br>
            <i class="fa fa-calendar"></i> {{ task.dateTime }}<br>
            <i class="fa fa-file-earmark-text"></i> {{ task.taskDetail }}
          </p>

          <a href="#" class="btn btn-primary d-flex align-items-center">
            <i class="fa fa-box-arrow-up-right me-2"></i> Open Task
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Unassigned Tasks Section -->
  <div class="task-section mt-4">
    <div class="section-header unAssigned text-white p-2 rounded-top">
      <i class="fa fa-list-task"></i> Unassigned Tasks
    </div>

    <div class="task-card" *ngFor="let task of unassignedTasks">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-building"></i> {{ task.company }}
            <span class="float-end text-muted">Job# {{ task.jobId }}</span>
          </h5>

          <p class="card-text">
            <i class="fa fa-geo-alt"></i> {{ task.address }}<br>
            <i class="fa fa-calendar"></i> {{ task.dateTime }}<br>
            <i class="fa fa-file-earmark-text"></i> {{ task.taskDetail }}
          </p>

          <a href="#" class="btn btn-primary d-flex align-items-center">
            <i class="fa fa-box-arrow-up-right me-2"></i> Open Task
          </a>
        </div>
      </div>
    </div>
  </div>
</div>