<div class="container-fluid p-0">
  <!-- Your Tasks -->
  <div class="header-bar py-2 px-3">
    <strong>Your Tasks</strong>
  </div>
  <div class="p-2">
    <div *ngFor="let task of tasksAssigned">
      <div class="card job-card shadow-sm mt-3" *ngIf="task.status != 6">
        <div class="card-hea h-25 d-flex justify-content-between">
          <p class="padding-p d-flex align-items-center gap-1">
            <mat-icon class="md-18" aria-hidden="false">store</mat-icon>
            <strong> {{ task.job.clientId }}</strong>
          </p>
          <p class="padding-p d-flex align-items-center gap-1">
            <strong class="text-muted">Job#:{{ task.jobId }}</strong>
          </p>
        </div>
        <div
          class="d-flex justify-content-between"
          *ngFor="let job of task.job.jobDetails"
        >
          <div
            class="card-body"
            *ngIf="task.date.jobDetailsId == job.jobDetailsId"
          >
            <p class="d-flex align-items-center gap-1">
              <mat-icon class="md-18" aria-hidden="false">place</mat-icon>
              {{ job.location }}
            </p>
            <span *ngIf="task.status == 1">
              <p class="d-flex align-items-center gap-1">
                <mat-icon class="md-18" aria-hidden="false">schedule</mat-icon>
                Created : {{ task.created | date : "fullDate" }}
              </p>
            </span>
            <span *ngIf="task.status == 2">
              <p class="d-flex align-items-center gap-1">
                <mat-icon class="md-18" aria-hidden="false">schedule</mat-icon>
                Started : {{ task.created | date : "fullDate" }}
              </p>
            </span>
            <span *ngIf="task.status == 5">
              <p class="d-flex align-items-center gap-1">
                <mat-icon class="md-18" aria-hidden="false">schedule</mat-icon>
                Finished : {{ task.created | date : "fullDate" }}
              </p>
            </span>

            <p class="d-flex align-items-center gap-1">
              <mat-icon class="md-18" aria-hidden="false"
                >description</mat-icon
              >
              {{ task.notes }}
            </p>
            <button class="btn btn-primary w-100" (click)="openJobStatus(task)">
              <i class="bi bi-box-arrow-up-right me-1"></i>Open Task
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Unassigned Tasks -->
  <div class="header-bar py-2 px-3 mt-3">
    <strong>Unassigned Tasks</strong>
  </div>
  <div class="p-2">
    <div *ngFor="let task of tasksOpen">
      <div class="card job-card shadow-sm mt-3" *ngIf="task.status != 6">
        <div class="card-hea h-25 d-flex justify-content-between">
          <p class="padding-p d-flex align-items-center gap-1">
            <mat-icon class="md-18" aria-hidden="false">store</mat-icon>
            <strong>{{ task.job.clientId }}</strong>
          </p>
          <p class="padding-p d-flex align-items-center gap-1">
            <strong class="text-muted">Job#:{{ task.jobId }}</strong>
          </p>
        </div>
        <div
          class="d-flex justify-content-between"
          *ngFor="let job of task.job.jobDetails"
        >
          <div
            class="card-body"
            *ngIf="task.date.jobDetailsId == job.jobDetailsId"
          >
            <p class="d-flex align-items-center gap-1">
              <mat-icon class="md-18" aria-hidden="false">place</mat-icon>
              {{ job.location }}
            </p>
            <span *ngIf="task.status == 1">
              <p class="d-flex align-items-center gap-1">
                <mat-icon class="md-18" aria-hidden="false">schedule</mat-icon>
                Created : {{ task.created | date : "fullDate" }}
              </p>
            </span>
            <span *ngIf="task.status == 2">
              <p class="d-flex align-items-center gap-1">
                <mat-icon class="md-18" aria-hidden="false">schedule</mat-icon>
                Started : {{ task.created | date : "fullDate" }}
              </p>
            </span>
            <span *ngIf="task.status == 5">
              <p class="d-flex align-items-center gap-1">
                <mat-icon class="md-18" aria-hidden="false">schedule</mat-icon>
                Finished : {{ task.created | date : "fullDate" }}
              </p>
            </span>
            <p class="d-flex align-items-center gap-1">
              <mat-icon class="md-18" aria-hidden="false"
                >local_shipping</mat-icon
              >
              {{ task.notes }}
            </p>
            <button class="btn btn-primary w-100">
              <i class="bi bi-box-arrow-up-right me-1"></i>Open Task
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
