/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {
  --rd-blue: #2196F3;
  --rd-orange: #F68A33;
  --rd-teal: #7DCCBA;

  .rd-blue {
    color: var(--rd-blue);
  }

  .rd-bg-blue {
    background-color: var(--rd-blue);
  }

  .rd-orange {
    color: var(--rd-orange);
  }

  .rd-bg-orange {
    background-color: var(--rd-orange);
  }

  .rd-teal {
    color: var(--rd-teal);
  }

  .rd-bg-teal {
    background-color: var(--rd-teal);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

bs-datepicker-container {
  position: absolute !important;
  z-index: 1050 !important;
  width: auto !important;
}

mat-icon.md-18 {
  font-size: 18px;
  height: 18px;
  width: 18px;
}