<div class="container-fluid d-flex justify-content-center align-items-start " >
  <div class="menu-wrapper w-100 p-3 rounded-4">
    
    <!-- General -->
    <h6 class="text-white fw-bold mb-3">General</h6>
    <div class="d-grid gap-2 mb-4">
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">local_shipping</mat-icon>Add Callout Job</span><i class="bi bi-chevron-right"></i>
      </button>
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">local_shipping</mat-icon> Vehicle Checks</span><i class="bi bi-chevron-right"></i>
      </button>
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">list Auditing</mat-icon>Auditing</span><i class="bi bi-chevron-right"></i>
      </button>
    </div>

    <!-- On-Site Records -->
    <h6 class="text-white fw-bold mb-3">On-Site Records</h6>
    <div class="d-grid gap-2 mb-4">
      <button (click)="site_inspection()" class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">checklist</mat-icon> Site Inspections</span><i class="bi bi-chevron-right"></i>
      </button>
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">speed</mat-icon> Temporary Speed Limits</span><i class="bi bi-chevron-right"></i>
      </button>
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">handshake</mat-icon> Handovers and Delegations</span><i class="bi bi-chevron-right"></i>
      </button>

      <!-- Toolbox Briefings -->
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm" data-bs-toggle="collapse" data-bs-target="#toolboxCollapse">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">playlist_add_check</mat-icon> Toolbox Briefings</span><i class="bi bi-chevron-down"></i>
      </button>
      <div class="collapse ps-3" id="toolboxCollapse">
        <button class="menu-btn  btn d-flex align-items-center mb-2 rounded-pill shadow-sm" style="background-color: #9bd5c7;">
          <mat-icon class="icon-padding md-18" aria-hidden="false">add</mat-icon> Add a Toolbox
        </button>
        <button class="menu-btn  btn d-flex align-items-center rounded-pill shadow-sm" style="background-color: #5caaa5;">
          <mat-icon class="icon-padding md-18" aria-hidden="false">view_list</mat-icon> View Toolboxes
        </button>
      </div>
    </div>

    <!-- Resources -->
    <h6 class="text-white fw-bold mb-3">Resources</h6>
    <div class="d-grid gap-2">
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">campaign</mat-icon> Announcements</span><i class="bi bi-chevron-right"></i>
      </button>
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">library_books</mat-icon> Library</span><i class="bi bi-chevron-right"></i>
      </button>
      <button class="menu-btn  btn btn-white d-flex justify-content-between align-items-center rounded-pill shadow-sm">
        <span><mat-icon class="icon-padding md-18" aria-hidden="false">help</mat-icon> Guides</span><i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
